.task-container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: rgb(252, 193, 229);
  align-items: center;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.buttons-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.remove-task-button,
.see-task-details-button {
  background-color: #444;
  border: none;
  font-size: 24px;
  color: rgb(242, 107, 154);
  margin: 0 5px;
}
